
/*  ----------------------------------------------------
6 speakers
-------------------------------------------------------- */
.speaker_box {
  position: relative;
  overflow: hidden;
}
.speaker_box .speaker_img {
  position: relative;
  overflow: hidden;
}
.speaker_box .speaker_img img {
  width: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box {
  position: absolute;
  bottom: 25px;
  background-color: #18181c;
  padding: 10px 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .name {
  color: #f50136;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .position {
  font-size: 12px;
  color: #ffffff;
  text-transform: capitalize;
}
.speaker_box .speaker_social {
  padding: 50px;
}
.speaker_box .speaker_social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.speaker_box .speaker_social ul li {
  display: inline-block;
  margin-left: 4px;
}
.speaker_box .speaker_social ul li a {
  border: solid 1px #f50136;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #f50136;
  width: 40px;
  height: 40px;
  text-align: center;
}
.speaker_box .speaker_social ul li a:hover {
  color: #ffffff;
  background-color: #f50136;
}
.speaker_box:hover .speaker_img img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box {
  background-color: #f50136;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .name {
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .position {
  color: #ffffff;
}
